@import "../../variables.scss";

.company_activities_gallery{

    width: clamp(1em, 35%, 35%);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 10px;

    button{
        all: unset;
    }

    .image{
        border-radius: 10px;
        position: relative;
        background-color: $pakistan-green;
        aspect-ratio: 1/1; 
        background-repeat: no-repeat;
        background-position: center;
        background-size: 101%; 
        
        
        * {
            transition: all .3s ease;
        }
        
        .zoom_icon {

            position: absolute;
            top: 85%;
            left: 50%;
            transform: translate(-50%, -50%);
            opacity: 0;
            fill: white;
            width: 30%;
            height: 30%;
        }

        &:hover {
            .zoom_icon {
                opacity: 1;
                top: 50%;
            }
        }
    }

    @for $i from 1 through 4 {
        #img_#{$i} { 
            background-image: url("gallery-#{$i}-small.webp");
            transition: background-size 0.3s ease;
            &:hover {
                background: linear-gradient(rgba(0, 0, 0, 0.20), rgba($pakistan-green, 0.40)), url("gallery-#{$i}-small.webp");
                background-repeat: no-repeat;
                background-position: center;
                background-size: 110%; 
            }
        }
    }

    @media only screen and (max-width: 1300px ) {

        width: 100%;
        margin: .5rem;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: 1fr;
        grid-column-gap: 1%;

    }
}



.gallery_bg{
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: rgba(0,0, 0, 0.7);
    z-index: 99;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all .3s ease;

    .image_loading{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: -1;
        svg {

            scale: 5;
            path {
                fill: white
            }
        }
    }
    
    .image_desc {
        color: white;
        margin-top: .5rem;
        padding: .5rem;
        border-radius: .5rem;
        animation-name: zoom;
        animation-duration: 0.6s;
        background-color: rgba($dark-green, 1);
    }
    
    .gallery_img_wrapper {
        position: relative;

        max-width: 95%;
        height: auto;
        max-height: 80svh;

        animation-name: zoom;
        animation-duration: 0.6s;

    }

    .gallery_img {
        height: 100%;
        width: 100%;
        border-radius: 20px;

    }

    @keyframes zoom {
        from {transform: scale(0.1)} 
        to {transform: scale(1)}
    }
}


.gallery_exit_bt {
    all: unset;
    position: absolute;
    top: max(5%,40px);
    right: max(5%,40px);

    color: white;
    // color: rgba($pakistan-green, 1);
    cursor: pointer;
    
    svg {
        scale: 3;
    }
    svg:hover{
        scale: 3.5;
    }
}