// MAIN COLOR THEME //

$mint-cream: rgb(195, 223, 207);
$mint-cream: rgb(238, 252, 244);

$tea-green: rgb(204, 252, 203);

$celadon: #98e7b5;

$pakistan-green: rgb(2, 79, 18);

// $dark-green: #093824;
// $dark-green: #022214;
$dark-green: rgb(5, 34, 13);

.content {
    position: relative;
    width: 100%;
    padding-bottom: 100px;
    @media only screen and (max-width: 890px) {
        padding-bottom: 11rem;
    }
}

//  MIXINS

@mixin resp-c-60w($width) {
    display: flex;
    justify-content: center;
    width: clamp(200px, 60%, $width);
    margin: auto;

    transition: width 1s;

    @media only screen and (max-width: 1710px) {
        width: 80%;
    }
    @media only screen and (min-width: 1710px) {
        width: clamp(200px, 60%, $width);
    }
    @media only screen and (max-width: 1300px) {
        width: 90%;
    }
}

@mixin clear-button {
    border: none;
    background-color: transparent;
    cursor: pointer;
}
