@import "../../variables.scss";


.cookies_agreement_wrapper{
    position: fixed;
    display: flex;
    justify-content:center;
    align-items: center;
    bottom: 0;
    left: 0;
    right: 0;
    padding: .8rem;
    color: white;
    background-color: rgb($pakistan-green, 0.8);
    backdrop-filter: blur(10px);
    z-index: 100;
    font-size: .8rem;

    .cookie_icon{
        width: 2rem;
        display: flex;
        align-items: center;
        svg{
            width: 2rem;
            height: 2rem;
        }
    }

    p{
        margin: auto 1rem;
    }

    button{
        @include clear-button();
        background-color: $pakistan-green;
        color: white;
        padding: .7rem .5rem .7rem .5rem;
        border-radius: .5rem;
        transition: all .3s ease-in;
        &:hover{
            background-color: lighten($pakistan-green, 10%);
            
        }
    }
}